 <div id='shame'>
  <table id='button-table'>
            <tbody>
              <tr>
                <td id='_stories' class='trophy_buttons btn-highlight'>Headlines </td>  
                <td id='_trophies' class='trophy_buttons'>Awards</td>        
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td id='_today' class='award_buttons btn-highlight'>Today</td> 
                <td id='_week' class='award_buttons'>Week</td>  
                <td id='_month' class='award_buttons'>Month </td>
                <td id='_ever' class='award_buttons'>All Time</td>
                 
              </tr>
            </tbody>
    </table>

     

    <h2 id='trophy_title'>No of Times, Most Negative of the Day</h2>
      <div id='champion_neg_ever' class='champion ever'>
        <!--  <span class='neg_award_headline award'>Misery Guts award</span><br/> -->
          
         <h2 id='top_logo'><%= image_tag(LOGOS[@story_neg_ever.first.source], :width => 300) %></h2>
       </br>
        
         <ol class="news badnews" start="1">
            <li class='winner'>
            <span class='score_neg'><%=@story_neg_ever.first.mixed%></span>
            <span class='title'><%=@story_neg_ever.first.title.gsub("&apos;","'")%></span>
            <span class='awarddate'><%=@story_neg_ever.first.date.pretty_date%> </span>
            </li>
          <%@story_neg_ever[1..9].each do |s|%>
            <li>
            <span class='score_neg'><%=s.mixed%></span>
            <span class='awardpic_wrapper'>
              <%= image_tag(LOGOS[s.source], :width => 100, :class => 'awardpic ' + s.source.downcase) %>
            </span>
            <span class='headline_and_date'>
              <span class='title'><%=s.title.gsub("&apos;","'")%></span>
              <span class='awarddate'><%=s.date.pretty_date%> </span>
            </span>
            </li>
          <%end%>
        </ol> 
      </div>

      <div id='champion_trophies_ever' class="trophies ever">
        <dl>

            
            <% @trophies['ever']['trophies'].each do |item|%>
                  <dd>
                    
                   <%# item[1].times do %>
                    <%# image_tag('cup.jpg', :class => 'trophy_pic') %>
                  <%# end %> 
                  <span class="trophy_name_wrapper"><%= image_tag(LOGOS[item[0].titleize], :width => 100, :class => 'trophyname awardpic ' + item[0].downcase) %></span>
                  
                   <span class='manyblocks'>

                      <span id='ever_bar_<%=item[0]%>' class='block'></span>
                        <span class='text'><%=item[1]%></span>
                    </span>
                

                  </dd>
            <% end %>
              
        </dl>
      </div>

       <div id='champion_neg_month' class='champion month'>
          
         <h2 id='top_logo'><%= image_tag(LOGOS[@story_neg_month.first.source], :width => 300) %></h2>
          </br>
        
         <ol class="news badnews" start="1">
            <li class='winner'>
            <span class='score_neg'><%=@story_neg_month.first.mixed%></span>
            <span class='title'><%=@story_neg_month.first.title.gsub("&apos;","'")%></span>
            <span class='awarddate'><%=@story_neg_month.first.date.pretty_date%> </span>
            </li>
          <%@story_neg_month[1..9].each do |s|%>
            <li>
            <span class='score_neg'><%=s.mixed%></span>
            <span class='awardpic_wrapper'>
              <%= image_tag(LOGOS[s.source], :width => 100, :class => 'awardpic ' + s.source.downcase) %>
            </span>
            <span class='headline_and_date'>
              <span class='title'><%=s.title.gsub("&apos;","'")%></span>
              <span class='awarddate'><%=s.date.pretty_date%> </span>
            </span>
            </li>
          <%end%>
        </ol> 
      </div>

       <div id='champion_trophies_month' class="trophies month">
           <dl>
            
            <% @trophies['month']['trophies'].each do |item|%>
                  <dd>
                    
                   <%# item[1].times do %>
                    <%# image_tag('cup.jpg', :class => 'trophy_pic') %>
                  <%# end %> 
                  <span class="trophy_name_wrapper"><%= image_tag(LOGOS[item[0].titleize], :width => 100, :class => 'trophyname awardpic ' + item[0].downcase) %></span>
                  
                   <span class='manyblocks'>
                    
                      <span id='month_bar_<%=item[0]%>' class='block'></span>
                      <span class='text'><%=item[1]%></span>
                    </span>
                

                  </dd>
            <% end %>
              
        </dl>
      </div>

       <div id='champion_neg_week' class='champion week'>
        
          
         <h2 id='top_logo'><%= image_tag(LOGOS[@story_neg_week.first.source], :width => 300) %></h2>
          </br>
        
         <ol class="news badnews" start="1">
            <li class='winner'>
            <span class='score_neg'><%=@story_neg_week.first.mixed%></span>
            <span class='title'><%=@story_neg_week.first.title.gsub("&apos;","'")%></span>
            <span class='awarddate'><%=@story_neg_week.first.date.pretty_date%> </span>
            </li>
          <%@story_neg_week[1..9].each do |s|%>
            <li>
            <span class='score_neg'><%=s.mixed%></span>
            <span class='awardpic_wrapper'>
              <%= image_tag(LOGOS[s.source], :width => 100, :class => 'awardpic ' + s.source.downcase) %>
            </span>
            <span class='headline_and_date'>
              <span class='title'><%=s.title.gsub("&apos;","'")%></span>
              <span class='awarddate'><%=s.date.pretty_date%> </span>
            </span>
            </li>
          <%end%>
        </ol> 
      </div>

       <div id='champion_trophies_week' class="trophies week">
         <dl>
            
            <% @trophies['week']['trophies'].each do |item|%>
                  <dd>
                    
                   <%# item[1].times do %>
                    <%# image_tag('cup.jpg', :class => 'trophy_pic') %>
                  <%# end %> 
                  <span class="trophy_name_wrapper"><%= image_tag(LOGOS[item[0].titleize], :width => 100, :class => 'trophyname awardpic ' + item[0].downcase) %></span>
                  
                   <span class='manyblocks'>
                    
                      <span id='week_bar_<%=item[0]%>' class='block'></span>
                      <span class='text'><%=item[1]%></span>
                    </span>
                

                  </dd>
            <% end %>
              
        </dl>
      </div>
      <div id='champion_neg_today' class='champion today'>
        
          
         <h2 id='top_logo'><%= image_tag(LOGOS[@story_neg_today.first.source], :width => 300) %></h2>
          </br>
        
         <ol class="news badnews" start="1">
            <li class='winner'>
            <span class='score_neg'><%=@story_neg_today.first.mixed%></span>
            <span class='title'><%=@story_neg_today.first.title.gsub("&apos;","'")%></span>
            <span class='awarddate'><%=@story_neg_today.first.date.pretty_date%> </span>
            </li>
          <%@story_neg_today[1..9].each do |s|%>
            <li>
            <span class='score_neg'><%=s.mixed%></span>
            <span class='awardpic_wrapper'>
              <%= image_tag(LOGOS[s.source], :width => 100, :class => 'awardpic ' + s.source.downcase) %>
            </span>
            <span class='headline_and_date'>
              <span class='title'><%=s.title.gsub("&apos;","'")%></span>
              <span class='awarddate'><%=s.date.pretty_date%> </span>
            </span>
            </li>
          <%end%>
        </ol> 
      </div>

      <div id='champion_pos'>
         <span class='pos_award_headline award'>Happy Larry award</span><br/><h2>The <%= @story_pos_ever.first.source %></h2>
  
   
          <ul class="news goodnews" start="1">
            <li class='winner'>
            <span class='score_pos'><%=@story_pos_ever.first.mixed%></span><span class='title'><%=@story_pos_ever.first.title.gsub("&apos;","'")%>, </span><span class='source'><%=@story_pos_ever.first.source%> </span>
            <span class='awarddate'><%=@story_pos_ever.first.date.pretty_date%> </span>
            </li>
          <%@story_pos_ever[1..9].each do |s|%>
            <li>
            <span class='score_pos'><%=s.mixed%></span><span class='title'><%=s.title.gsub("&apos;","'")%>, </span><span class='source'><%=s.source%> </span><span class='awarddate'><%=s.date.pretty_date%> </span>
            </li>
          <%end%>
        </ul>
      </div>  
</div>

<script type="text/javascript">
  // $(' ').addClass('btn-highlight'); // fire it up

  $('td.award_buttons').on('click', function(){
    $this = $(this);
    var idName = $this.attr('id');
    var alight = $('#_stories').attr('class').split(" ").length;
    console.log(alight);

    $this.addClass('btn-highlight');
    $this.siblings('td').removeClass('btn-highlight'); 

    if (alight===2)  {
        $('#champion_neg' + idName).show();
        $('#champion_neg' + idName).siblings('div').hide();
        $('#_stories').trigger('click');
      }
        else {
          $('#champion_trophies' + idName).show();
        $('#champion_trophies' + idName).siblings('div').hide();
      $('#_trophies').trigger('click');

        }

    
    
    
  });


    $('#_trophies').on('click', function(){
    $this = $(this);
    $this.addClass('btn-highlight');
    $('#_stories').removeClass('btn-highlight');

    var idName = $('td.award_buttons.btn-highlight').attr('id');
    
    $('.champion').hide();
    $('#trophy_title').show();
    $('#champion_trophies' + idName).show();
  });

      $('#_stories').on('click', function(){
    $this = $(this);
    $this.addClass('btn-highlight');
    $('#_trophies').css('visibility','visible').removeClass('btn-highlight');

    var idName = $('td.award_buttons.btn-highlight').attr('id');
    
    $('.trophies').hide();
    $('#trophy_title').hide();
    $('#champion_neg' + idName).show();
  });

      $('#_today').on('click', function(){
        $('#_stories').trigger('click');
        $('#_trophies').css('visibility','hidden');

      });

    var trophies = <%= @trophiesJS %>;
    getTrophies('ever');
    getTrophies('month');
    getTrophies('week');
    $('#_today').trigger('click');

    function getTrophies(area){
      var max = parseInt(trophies[area]['max']);
         for (var d=0;d<trophies[area]['trophies'].length;d++) {
          var entry = trophies[area]['trophies'][d][1];
           var w = entry*50/max + "%";
           
           var paper = trophies[area]['trophies'][d][0];
           console.log(area,entry,w,paper);
    
        $('#' + area + '_bar_' + paper).css({'width':w,
          'min-height':'50px'});
         }
       }
    
    


</script>