 <div id='shame'>
      <div id='champion_neg'>

     <!--    :title,:source,:date,:mixed -->
        
         <span class='neg_award_headline award'>Misery Guts award</span><br/>
         <h2><%= image_tag(LOGOS[@story_neg.first.source], :width => 300) %></h2>
        
         <ol class="news badnews" start="1">
            <li class='winner'>
            <span class='score_neg'><%=@story_neg.first.mixed%></span>
            <span class='title'><%=@story_neg.first.title.gsub("&apos;","'")%></span>
            <span class='awarddate'><%=@story_neg.first.date.pretty_date%> </span>
            </li>
          <%@story_neg[1..9].each do |s|%>
            <li>
            <span class='score_neg'><%=s.mixed%></span>
            <span class='awardpic_wrapper'>
              <%= image_tag(LOGOS[s.source], :width => 100, :class => 'awardpic') %>
            </span>
            <span class='headline_and_date'>
              <span class='title'><%=s.title.gsub("&apos;","'")%></span>
              <span class='awarddate'><%=s.date.pretty_date%> </span>
            </span>
            </li>
          <%end%>
        </ol> 
      </div>

      <div id='champion_pos'>
         <span class='pos_award_headline award'>Happy Larry award</span><br/><h2>The <%= @story_pos.first.source %></h2>
        <!-- <h3>with a score of <span class='score_award score_pos'><%#@story_pos.first[3] %></span></h3> -->
   
       <ul class="news goodnews" start="1">
            <li class='winner'>
            <span class='score_pos'><%=@story_pos.first.mixed%></span><span class='title'><%=@story_pos.first.title.gsub("&apos;","'")%>, </span><span class='source'><%=@story_pos.first.source%> </span>
            <span class='awarddate'><%=@story_pos.first.date.pretty_date%> </span>
            </li>
          <%@story_pos[1..9].each do |s|%>
            <li>
            <span class='score_pos'><%=s.mixed%></span><span class='title'><%=s.title.gsub("&apos;","'")%>, </span><span class='source'><%=s.source%> </span><span class='awarddate'><%=s.date.pretty_date%> </span>
            </li>
          <%end%>
        </ul>
      </div>  
</div>