<section id='today'>
   <%= partial 'partials/papers' %>
 
		<h3>Today's glummest <strike> tripe</strike> news, brought to you by The <span id='currentpaper'></span></h3>
     <div id='balls'></div>
    
  <div id='headerdiv'>

  	<h2 id='misery_heading'>Misery Rating: </h2> 
      

    	<span class='emoji5 e'><%= Emoji.find_by_alias("rage").raw%></span>
    	<span class='emoji4 e'><%= Emoji.find_by_alias("anguished").raw%></span>
    	<span class='emoji3 e'><%= Emoji.find_by_alias("grimacing").raw%></span>
    	<span class='emoji2 e'><%= Emoji.find_by_alias("unamused").raw%></span>
    	<span class='emoji1 e'><%= Emoji.find_by_alias("neutral_face").raw%></span>
      <span id='misery_score'></span>
     
  </div>

  <article><h1></h1> </article>

</section>

<script type="text/javascript">



$(function(){

   String.prototype.capitalize = function() {return this.charAt(0).toUpperCase() + this.slice(1);}
   Array.prototype.array_to_histogram = function() {
      var hist = {};
      for (var k=0;k<this.length;k++) {
        var word = this[k];
        hist[word] ? hist[word]++ : hist[word]=1;
      } 
      return hist;
   }
   Array.prototype.flatten_arrays = function(){return [].concat.apply([], this);}
   Array.prototype.toHistogram = function(){return this.flatten_arrays().array_to_histogram();}


    var bpm = 80,
        beatMs = 60000 / bpm,
        headline,
        articleUrl,
        article,
        articles,
        balls,
        score,
        aEl,
        aEl2,
        pEl,
        emojiEl,
        h2El,
        h3El,
        ele,
        newId,
        arrayOfDMObjects,
        articleIndex=0,
        sourceIndex=0,
        first=true;

    var sources = <%=@todays_papers_ordered.to_json.html_safe %>;
    var DBScores = <%=@todays_scores.to_json.html_safe %>;
    var DBStories = <%=@grimmest_articles_today.to_json.html_safe %>;

    getContent(); // fire it up for the first time

    function nextArticle(){
        articleIndex++;
        paperName = sources[sourceIndex];
        articles = DBStories[paperName];

        if (articleIndex == (articles.length)) { articleIndex=0;}

        getContent();
    };

     $('#changestory').on('click',function(){
      nextArticle();
    });

    function nextSource(){
      articleIndex = 0;
      $('.active').removeClass('active');  
      getContent(); 
    };

   
     $('#changesource').on('click',function(){
      sourceIndex++;
      if (sourceIndex == (sources.length)) { sourceIndex=0;}
      nextSource();
    });

     $('span.paperscore').on('click',function(){

      var newSource = $(this).parent('td').attr('class');
      newSource = newSource.charAt(0).toLowerCase() + newSource.slice(1);

      if ( newSource.split(" ").length != 1){newSource=newSource.split(" ")[0]}; //deal with multiple classes
      sourceIndex = sources.indexOf(newSource);
      nextSource();
    });
 

   function getContent() {

    paperName = sources[sourceIndex];
    articles = DBStories[paperName];

    balls = DBStories[paperName].length;
    article = articles[articleIndex];

    var headline = article.title.replace("&apos;","'");

    $('article > h1').html( '<span>'+ headline.split('').join('</span><span>') + '</span>');
         
     $('#misery_score').html(parseInt(article.mixed));

     var paper_uppercase = paperName.charAt(0).toUpperCase() + paperName.slice(1);

     $('#currentpaper').html(paper_uppercase);
     $('.' + paper_uppercase).addClass("active");

      getEmotionsfromScore(article.mixed);

      makeBalls(balls);

    };

    function makeBalls(num){
      $('#balls').html("");

      for (i=0;i<num;i++){
        
        $('#balls').append("<span class='ball'>&middot</span>");

      }

      ballSpan = $('#balls span');
      console.log(ballSpan.length, articleIndex);
      ballSpan.eq(articleIndex).addClass('highlightball')
                          .siblings('span').removeClass('highlightball');

     }


    function getEmotionsfromScore(score){
      var em;
      score=parseInt(score);

        switch (true) {
         case (score<=-10): em='5';
         break;
         
         case (score<=-7): em='4';
         break;

          case (score<=-5): em='3';
         break;
         
         case (score<=-2): em='2';
         break;

         case (score<=0): em='1';
         break;

      }
      var emojiClass = 'emoji' + em;

      $('.'+ emojiClass).siblings('.e').hide();
       $('.'+ emojiClass).show();

    } 

   //  //
   //  // One by one, momentarily highlight a char in the headline
   //  //
    // var dancingLights = function dancingLights() {
    //     var i = 0,
    //       elem = document.querySelector('h1');

    //     setInterval(function() {

    //       elem.children[i].className = 'highlight';
    //       var x = i;
    //       setTimeout(function() { elem.children[x].className = ''; }, beatMs * 2);
    //       i = ++i % headline.length;

    //     }, beatMs);
    // };


    

});
</script>