<%= partial 'partials/info' %>
<%= partial 'partials/nav' %>
<div id='restofpage'>
	<%= partial 'partials/welcome',:locals => { :todays_papers_ordered => @todays_papers_ordered, :todays_scores => @todays_scores, :grimmest_articles_today => $grimmest_articles_today } %>
	<%= partial 'partials/today',:locals => { :todays_data => @todays_data, :time => @time, :date => @date, :todays_papers_ordered => @todays_papers_ordered, :todays_scores => @todays_scores, :grim_today => @grim_today } %>
	<%= partial 'partials/awards', :locals => { :story_neg => @story_neg, :story_pos => @story_pos } %>
	<%= partial 'partials/chart', :locals => { :score => @score }  %>
</div>

<script> 
//  Jquery

$(document).on('ready',function(){

		var windowH = $(window).height();

		$('#showmethods').on('click',function(){
			$('#info').slideDown(1000);
		});


		$('#info').on('click',function(){
			$(this).slideUp(1000);
		});

		//  smooth scrolling on click
		$('a[href^="#"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);
		    console.log(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		    });

		    $(this).addClass('selected').siblings('a').removeClass('selected');
			});

		$('#miserylink, #glummest').on('click',function(){

			$('#categories, #champion_neg').show();
			$('#champion_pos').hide();

			$('#glummest').addClass('tabselected');
			$('#happiest').removeClass('tabselected');
			 
		});

		$('#happiest').on('click',function(){
			$('#champion_neg').hide();
			$('#champion_pos').show();
			   
			$('#glummest').removeClass('tabselected'); 
			$('#happiest').addClass('tabselected');
				 
		});

		$('#over_time').on('click',function(){
			$('#categories').hide();
		});

		$('#headlines').on('click',function(){
			$('#categories').hide();
		});

});

</script>
