<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serenity</title>
    <%= stylesheet_link_tag 'serenity' %>
      <%= javascript_include_tag 'jquery', 'd3.min' %>
     
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,500,700' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div id='super'></div>
   
        <%= yield %>


    <div id='side'>
      <div id='champion_neg'>
        
<!--         <p class='neg_award_headline'>Misery Guts Story of the month award</p>
        <h3>with a score of <span class='score_award'><%#@story_neg.first[3] %></span></h3>
        <h2> The <%# @story_neg.first[1] %></h2>
        
        -->
        
         <ol class="news" start="1">
            <li class='winner'>
            <span class='title'><%=@story_neg[0][0]%>, </span><span class='source'><%=@story_neg[0][1]%>, </span><span class='score_neg'><%=@story_neg[0][-1]%></span>
            </li>
          <%@story_neg[1..9].each do |bs|%>
            <li>
            <span class='title'><%=bs[0]%>, </span><span class='source'><%=bs[1]%>, </span><span class='score_neg'><%=bs[-1]%></span>
            </li>
          <%end%>
        </ol>
        
      
      </div>

      <div id='champion_pos'>
    
     <!--    <p class='pos_award_headline'>Happy Larry Story of the month award</p>
        <h3>with a score of <span class='score_award score_pos'><%#@story_pos.first[3] %></span></h3>
        <h2> The <%# @story_pos.first[1] %></h2>
        -->
        
       <ol class="news" start="1">
            <li class='winner'>
            <span class='title'><%=@story_pos[0][0]%>, </span><span class='source'><%=@story_pos[0][1]%>, </span><span class='score_pos'><%=@story_pos[0][-1]%></span>
            </li>
          <%@story_pos[1..9].each do |bs|%>
            <li>
            <span class='title'><%=bs[0]%>, </span><span class='source'><%=bs[1]%>, </span><span class='score_pos'><%=bs[-1]%></span>
            </li>
          <%end%>
        </ol>

      
      </div>
  
</div>
      
    <div class="footer">made by Jonathan Walton, using D3.js and Padrino. The code is available on <a href="https://github.com/Lemez/serenity-padrino" target ="_blank">Github</a>.
    </div>

  </body>

  
</html>